.hero {
   position: relative;
   width: 100%;
   height: 100dvh;
   background-image: url("/src/assets/images/hero-bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: oklch(0 0 0 / 50%);
   }
}

.hero h1 {
   position: relative;
   top: calc(var(--header-height) + 1rem);
   font-size: 3rem;
}
