.header {
   position: fixed;
   top: 0;
   z-index: 100;
   height: var(--header-height);
   width: 100%;
   padding-inline: 0.25rem;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 16px;
   background: transparent;
   backdrop-filter: blur(15px);
   background-image: linear-gradient(oklch(0 0 0 / 25%));
   transition: 1s ease;

   animation-name: header-border-bottom;
   animation-fill-mode: forwards;
   animation-timeline: scroll();
   animation-range: 0 100px;

   @keyframes header-border-bottom {
      to {
         border-bottom: 1px solid transparent;
         border-image: linear-gradient(
               to right,
               oklch(1 0 0 / 50%),
               transparent,
               transparent,
               oklch(1 0 0 / 50%)
            )
            1;
      }
   }
}

.header__nav {
   anchor-name: --nav;
}

.header__nav .is-active {
   font-weight: 500;
   color: white;
   border: 1px solid transparent; 
   border-image: linear-gradient(oklch(0.65 0.28 35 / 50%), transparent) 1;
   box-shadow: 0px 3px 5px 2.5px oklch(0 0 0);
   //pointer-events: none; // отключения  cursor: pointer;  при наведении
}

// BUBBLE EFFECT
.line {
   position: absolute;
   position-anchor: --nav;
   top: anchor(top);
   right: anchor(right);
   bottom: anchor(bottom);
   left: anchor(left);

   transition: all 0.25s;
}
.line.line__hover {
   position-anchor: --nav;
   z-index: 1;
   border: 1px solid transparent;
   border-image: linear-gradient(
         to right,
         rgba(255, 255, 255, 0.1),
         oklch(1 0 0 / 75%),
         rgba(255, 255, 255, 0.1)
      )
      0 0 1 0;
}

.header__nav ul {
   display: flex;
   align-items: center;
   column-gap: 6px;
   padding: fluid-to-laptop(10, 8);
}

.header__nav ul li a {
   position: relative;
   z-index: 10;
   display: inline-block;
   padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
   text-decoration: none;
   transition: 1s ease;

   &:before {
      content: "";
      position: absolute;
      display: block;
      inset: -3px;
   }

   &:hover:before {
      anchor-name: --nav;
   }
}

.header__actions {
   display: flex;
   align-items: center;
   column-gap: 10px;
}

//*  mobile menu
.dropdown__btn {
   display: none;
}

@media (width < 1023px) {
   .header {
      padding-right: 80px;
      animation-name: mobile-header-border-bottom;
      animation-fill-mode: forwards;
      animation-timeline: scroll();
      animation-range: 0 100px;

      @keyframes mobile-header-border-bottom {
         to {
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(
                  to right,
                  transparent,
                  oklch(1 0 0 / 50%),
                  transparent
               )
               1;
         }
      }
   }

   .header__nav {
      position: fixed;
      top: -100dvh;
      right: 0;
      height: 100dvh;
      width: 100%;
      transition: 0.75s;
      background-color: transparent;
      background-image: linear-gradient(to top, rgba(0, 0, 0, .75), rgba(0, 0, 0));
   }

   .header__nav ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .header__nav ul li {
      width: 50%;
      font-size: 20px;
      text-align: center;
      opacity: 0;
      filter: blur(10px);
      transform: translateY(-25dvh);
      transition: 1s;
   }

   .header__nav .is-active {
      border-image: linear-gradient(transparent) 1;
      box-shadow: 0 0 0 0;
   }

   // active mobile menu
   .is-active__menu-mobile {
      top: 0;
      transition: 0.5s;
   }
   .is-active__menu-mobile ul li {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
   }

   .is-active__menu-mobile ul li a {
      width: 100%;
      text-align: center;
      padding-block: 1rem;
   }

   .is-active__menu-mobile ul li:nth-child(1) {
      transition-delay: 0s;
   }

   .is-active__menu-mobile ul li:nth-child(2) {
      transition-delay: 0.03s;
   }

   .is-active__menu-mobile ul li:nth-child(3) {
      transition-delay: 0.06s;
   }
   .is-active__menu-mobile ul li:nth-child(4) {
      transition-delay: 0.09s;
   }
}

@media (width < 400px) {
   .header__actions {
      display: none;
   }
}
